@import url('https://fonts.googleapis.com/css?family=Bahiana');
@import url('https://fonts.googleapis.com/css?family=Alex+Brush');


*{
    margin:0;
    padding:0;
}

#nav1{
	width:100%;
	position:fixed;
	top:10px;
	margin:0 auto;
	background-color:#transparent;	
}

.nav{ 
	list-style:none;
	text-align:center;	
	
}


.nav li{
	display:inline-block;
	margin:auto;
}

.nav a{
	border-radius:15px;
	display:block;
	padding:2px;
	margin-left:10px;
	margin-right:10px;
	border-color:#F52114;
	border-style:none;
	color:#F52114;
	text-decoration:none;
	font-family: 'Bahiana', cursive;

}

.nav a:hover{
	opacity:.75;
	text-decoration:underline;

}

body{
    background:#fceab7;
    font-size: 2em;
    letter-spacing:-1px;
    width:650%;
    height:100%;
    position:absolute;
}


.section{
    width:20%;
    float:left;
    height:100%;
    text-shadow:1px 1px 2px #f0f0f0;
}

h2{
	font-family: 'Alex Brush', cursive;
	margin:4% 0px 0% 2%;

}

.section h3{
	margin:-1.5% 0% 2% 6%;
	font-family:simsun, 宋体;
	font-size:95%;
}
.section p{
    margin:.5% 0px 0px 2%;
    width:600px;
    font-size:70%;
    font-family: "Times New Roman", Times, serif;
}
.scrollp{
	height:80%;
	width:40%;
	margin-top:0%;
	overflow:hidden;
}

.scroll{
	
	height:95%;
	margin-top:0%;
	width:100%;
	text-align:left;
	padding-right:17px;
	overflow-y:scroll;
}

#span{
	cursor:all-scroll;
}

.scrollimg{
	height:5%;
	width:20%;
	display:block;
	margin:auto;
	
}

#section1 {
	background-image:url(PandPWeb/kyoto.png);
	background-repeat:no-repeat;
	background-size:cover;
	background-position:right bottom;
	
}

#section1 h2{

	margin:5% 0px 0% 2%;
	font-size:300%;
	font-family: 'Alex Brush', cursive;
}

#coupleimg{
	width:15%;
	margin:4% 0% 0% 12%;
}


#section2{
	background-image:url(PandPWeb/winter2.png);
	background-repeat:no-repeat;
	background-size:cover;
	background-position:bottom right;
	}



.image2{
	max-height:200px;
	display:block;
	margin:auto;
}
#section2 .hide .indiv{
	margin:2% 0 0 2%;
	width:300px;
	float:left;
}

#section2 .hide img{
	display:inline-block;
}
.special{
	margin-left:50px;
	position:absolute;
	bottom:20px;

}
.special li:first-child{
	margin-left:0;
}

.special li{
	display:inline-block;
	margin-left:4em;

}

.special li:hover{
	cursor:pointer;
	color:blue;
}

#section3{
	background-image:url(PandPWeb/cows.png);
	background-repeat:no-repeat;
	background-size:cover;
	background-position:bottom right;
	
	}

#maptaiwan{
	width:50%;
	margin:2% 0 0 5%;
}

#Info{
	text-align:center;
}

#section4{
	background-image:url(PandPWeb/beach.png);
	background-repeat:no-repeat;
	background-size:cover;
	background-position:bottom right;
}

 td img {
	width:100%;
}


#section5{
	background-image:url(PandPWeb/Tainan.png);
	background-repeat:no-repeat;
	background-size:cover;
	background-position:bottom right;
}
