@import url('https://fonts.googleapis.com/css?family=Bahiana');


*{
    margin:0;
    padding:0;
}

#nav1{
	width:100%;
	position:fixed;
	top:2vh;
	margin:0 auto;
	background-color:#transparent;	
}

.nav{ 
	list-style:none;
	text-align:center;	
	
}


.nav li{
	display:inline-block;
	margin:auto;
}

.nav a{
	border-radius:15px;
	display:block;
	padding:1%;
	margin-left:10px;
	margin-right:10px;
	color:#F52114;
	text-decoration:none;
	font-family: 'Bahiana', cursive;
	font-size: 5vw;

}

.nav a:hover{
	opacity:.75;
	text-decoration:underline;

}

body{
    background:#000;
    font-family:'Pacifico',arial;
    font-size: 5vmin;
    width:1000vw;
    height:100vh;
	
    }
    
.section{
	width:19.8%;
	height:100vh;
	display:block;
	float:left;
	
	}    
#section1 {
	background-image:url(kyoto1.jpg);
	background-repeat:no-repeat;
	background-size:cover;
	}
.writing1{
	background-color:green;
	height:90vh;
	 width:100vw;
	margin-top:10vh;
	text-align:center;
	overflow:scroll;
}



#section2{
	background-color:#E7E7E4;
}


.image2{
	max-height:200px;
	display:block;
	margin:auto;
}
#section2 .hide .indiv{
	margin:2% 0 0 2%;
	width:300px;
	float:left;
}
.writing2{
	height:80vh;
}

#section2 .hide img{
	display:inline-block;
}
.special{
	margin-left:50px;
	position:relative;
	bottom:0px;

}
.special li:first-child{
	margin-left:0;
}

.special li{
	display:inline-block;
	margin-left:4em;

}

.special li:hover{
	cursor:pointer;
	color:blue;
}

#section3{
	background-color:#FEFEFA;
	}

#section4{
	background-color:#E7E7E4;
}

#section5{
	background-color:#FEFEFA;
}
