@import url('https://fonts.googleapis.com/css?family=Bahiana');


*{
    margin:0;
    padding:0;
}

#nav1{
	width:100%;
	position:fixed;
	top:10px;
	margin:0 auto;
	background-color:#transparent;	
}

.nav{ 
	list-style:none;
	text-align:center;	
	
}


.nav li{
	display:inline-block;
	margin:auto;
}

.nav a{
	border-radius:15px;
	display:block;
	padding:2px;
	margin-left:10px;
	margin-right:10px;
	border-color:#F52114;
	border-style:none;
	color:#F52114;
	text-decoration:none;
	font-family: 'Bahiana', cursive;

}

.nav a:hover{
	opacity:.75;
	text-decoration:underline;

}

body{
    background:#000;
    font-family:'Pacifico',arial;
    font-size: 2em;
    letter-spacing:-1px;
    width:700%;
    height:100%;
    position:absolute;
    top:0px;
    left:0px;
    bottom:0px;
}
.section{
    margin:0px;
    bottom:0px;
    width:19.9%;
    float:left;
    height:100%;
    text-shadow:1px 1px 2px #f0f0f0;
}

.section h2{
    margin:2.5% 0px 0% 2%;

}

.section h3{
	margin:0% 0% 2% 2%;
}
.section p{
    margin:.5% 0px 0px 2%;
    width:600px;
}
#section1 {
	background-image:url(PandPWeb/g4233.png);
	background-repeat:no-repeat;
	background-size:cover;
	background-position:bottom;
	
}

#section1 h2{

	margin:5% 0px 0% 2%;
	font-size:250%;
}


#section2{
	background-image:url(PandPWeb/snowboard.png);
	background-repeat:no-repeat;
	background-size:cover;
	background-position:bottom;
	}

#section2 p{
	font-size:70%;
}

.image2{
	max-height:200px;
	display:block;
	margin:auto;
}
#section2 .hide .indiv{
	margin:2% 0 0 2%;
	width:300px;
	float:left;
}

#section2 .hide img{
	display:inline-block;
}
.special{
	margin-left:50px;
	position:absolute;
	bottom:20px;

}
.special li:first-child{
	margin-left:0;
}

.special li{
	display:inline-block;
	margin-left:4em;

}

.special li:hover{
	cursor:pointer;
	color:blue;
}

#section3{
	background-image:url(PandPWeb/swisslong2.png);
	background-repeat:no-repeat;
	background-size:cover;
	background-position:bottom;
	
	}

#section4{
	background-color:#E7E7E4;
}

#section5{
	background-color:#FEFEFA;
}
